name: Test Checkout

on: [pull_request]

jobs:
  build-container:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0
    steps:
      - uses: actions/checkout@v4
      - run: dotnet test Calc.sln -c Release
